<div class="principal">
  <div class="imgcontainer">
      <br>
      <img src="../../../assets/images/studentAvatar.png" alt="Avatar" class="avatar">
  </div>

    <form class="container">
      <input type="password" placeholder="Enter your new password" id="psd" #psd required minlength="5">
      <input type="password" placeholder="Repeat your new password" id="psd2" #psd2  minlength="5" required>
      <button type="submit" (click)="changePassword(psd.value, psd2.value)">Change password</button><br/><br/>
    <a routerLink="/login">Back to login</a>
    <h3 *ngIf="errorMessage" style="color: #ff4d4d">{{errorMessage}}</h3>
    </form>
</div>


<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }" [template]="customLoadingTemplate"></ngx-loading>