<div class="principal">
	<div class="imgcontainer">
      <br>
    	<img src="../../../assets/images/studentAvatar.png" alt="Avatar" class="avatar">
  </div>

  	<form class="container">
	    <input type="email" placeholder="Email" id="email" #email  required >
		<input type="password" placeholder="Password" id="psw" #password  required>
		<a routerLink="/requestPassword" style="float:left;" id="forgetPassword">Forget your password? Click here !</a>
	    <button type="submit" (click)="loginValidation(email.value,password.value)">Login</button><br/><br/>
	    <a routerLink="/register">Click here to register</a>
	    <h3 *ngIf="errorMessage" style="color: #ff4d4d">{{errorMessage}}</h3>
  	</form>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 35px; color: white; font-weight: bold; text-align: center;">Loading...</p>
</ngx-spinner>