<div class="principal">
  <div class="imgcontainer">
      <br>
      <img src="../../../assets/images/studentAvatar.png" alt="Avatar" class="avatar">
  </div>

    <form class="container">
      <input type="text" placeholder="Enter your email account" id="email" #name  required>
      <button type="submit" (click)="requestChangePassword(name.value)">Change password</button><br/><br/>
    <a routerLink="/login">Back to login</a>
    <h3 *ngIf="errorMessage" style="color: #ff4d4d">{{errorMessage}}</h3>
    </form>
</div>


<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }" [template]="customLoadingTemplate"></ngx-loading>